services:
  www:
    build:
      context: ..
      dockerfile: ci/Dockerfile
    image: itssimmons/woki-challenge:${TAG_NAME:-latest}
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - HOST=0.0.0.0
      - DB_MEMORY_PATH=/data/database.db
    volumes:
      - ../data:/data
    depends_on:
      - redis
      - sqlite
      
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
      
  sqlite:
    image: keinos/sqlite3
    volumes:
      - ../data:/data
      - ../app/database/migrations:/migrations
      - ../app/database/seeders:/seeders
    entrypoint: sh -c "
      rm -f /data/database.db &&
      sqlite3 /data/database.db < /migrations/1762720580.sql &&
      sqlite3 /data/database.db < /migrations/1762720927.sql &&
      sqlite3 /data/database.db < /migrations/1762733099.sql &&
      sqlite3 /data/database.db < /migrations/1762775755.sql &&
      sqlite3 /data/database.db < /seeders/1763213790.sql &&
      sqlite3 /data/database.db < /seeders/1763213791.sql &&
      sqlite3 /data/database.db < /seeders/1763226429.sql &&
      sqlite3 /data/database.db < /seeders/1763226430.sql
      "
