name: jest testing

on:
  push:
    paths: 
      - '**/*.test.ts'
      - '**/*.spect.ts'

jobs:
  coverage:
    name: Jest Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm t --coverage
